:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(39, 39, 39, 0.87);
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --clr-light: #ffffff;
  --clr-dark: #676767;
  --clr-break: #d6d7db;
  --clr-accent: #23b8dd;
  --clr-text: #898989;
}

.darkMode {
  --clr-light: #313131;
  --clr-dark: #838383;
  --clr-break: #797979;
  --clr-accent: #22c7f0;
  --clr-text: #9a9a9a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

form {
  box-sizing: unset;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-light);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  font-size: 30;
  background-color: var(--clr-light);
  border-bottom: 1px solid var(--clr-break);
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#root {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-light);
}

.linkContainer {
  font-size: 1.8em;
  font-weight: 900;
  line-height: .8;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 15px;
  position: absolute;
  left: 0px;
}
.linkContainer:active {
  transform: scale(90%);
  transition: transform 0.2s;
}

.homepageLink {
  cursor: pointer;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  line-height: .8;
  color: var(--clr-accent);
}

.searchContainer {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 60px;
}

@media (max-width: 750px) {
  .searchContainer {
    width: 50%;
    margin-right: 20px;
  }
}

@media (max-width: 640px) {
  .searchContainer {
    width: 45%;
  }
}

@media (max-width: 580px) {
  .searchContainer {
    width: 40%;
  }
}


@media (max-width: 520px) {
  .searchContainer {
    width: 35%;
    margin-right: 10px;
  }
}

@media (max-width: 520px) {
  .searchContainer {
    width: 30%;
    margin-right: 5px;
  }
}

@media (max-width: 420px) {
  .searchContainer {
    width: 25%;
  }
}

.searchBar {
  border: 1px solid var(--clr-break);
  background-color: var(--clr-light);
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.searchBar:hover {
  border: 1px solid var(--clr-accent);
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.searchIcon {
  color: var(--clr-break);
  cursor: pointer;
  /* margin-left: 5px; */
}
.searchIcon:active {
  transform: scale(85%);
  transition: transform 0.2s;
}
.searchBar:hover .searchIcon {
  color: var(--clr-accent);
}

.searchInput {
  padding: 6px 0px 6px 6px;
  color: var(--clr-accent);
  border: var(--clr-light);
  /* padding-left: 10px; */
  width: 90%;
  border-radius: 10px;
  background-color: var(--clr-light);
}
.searchInput:focus {
  outline: none;
}
.searchInput:focus + .searchBar {
  border: 1px solid var(--clr-accent);
}
.searchInput:focus + .searchIcon {
  color: var(--clr-accent);
}

.searchInput::placeholder {
  color: var(--clr-text);
}
.searchBar:hover .searchInput::placeholder {
  color: var(--clr-accent);
}

.addContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-light);
  border-radius: 8px;
  height: 50%;
  cursor: pointer; 
  padding: 0px 5px 1px 5px;
}

@media (max-width: 338px) {
  .addContainer {
    display: none;
  }
}
.addContainer:hover {
  background-color: var(--clr-accent);
}
.addContainer:active {
  transform: scale(90%);
  transition: transform 0.2s;
}

.addButton {
  font-size: 1.8rem;
  color: var(--clr-accent);
  text-align: center;
  padding-bottom: 3px;
}
.addContainer:hover .addButton {
  color: var(--clr-light);
}

.darkToggle {
  margin-left: 25px;
}

@media (max-width: 520px) {
  .darkToggle {
    margin-left: 20px;
  }
}

@media (max-width: 360px) {
  .darkToggle {
    margin-left: 10px;
  }
}

@media (max-width: 390px) {
  .darkToggle {
    margin-left: 8px;
  }
}

@media (max-width: 375px) {
  .darkToggle {
    display: none;
  }
}

.lightInput, .darkInput {
  transform: scale(180%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avant Garde", sans-serif;
  font-size: 1em;
  font-weight: 900;
  line-height: .8;
  color: var(--clr-accent);
  height: 40px;
  border-radius: 0;
  padding-top: 2px;
  cursor: pointer;
}
.lightInput:hover, .darkInput:hover {
  transform: scale(195%);
  transition: transform 0.2s;
}
.lightInput:active, .darkInput:active {
  transform: scale(175%);
  transition: transform 0.2s;
}
.lightInput::before {
  content: '\2600';
  display: inline-block;
  font-family: Arial, sans-serif;
}
.darkInput::before {
  content: '\263C';
  display: inline-block;
  font-family: Arial, sans-serif;
}

.loginContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 5px;
}

.signInText, .logoutText {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  line-height: .8;
  color: var(--clr-accent);
  width: 65px;
  margin: 0;
  text-align: start;
  cursor: pointer;
}
.signInText:active, .logoutText:active {
  transform: scale(95%);
  transition: transform 0.2s;
}

.signUpText {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  line-height: .8;
  color: var(--clr-light);
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-accent);
  border-radius: 5px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 72px;
  height: 25px;
  margin: 0;
  text-align: start;
  margin-right: 15px;
  cursor: pointer;
}
.signUpText:active {
  transform: scale(95%);
  transition: transform 0.2s;
}

.activeUserLink {
  line-height: .8;
  color: var(--clr-light);
  border: 2px solid var(--clr-text);
  background-color: var(--clr-break);
  border-radius: 50%;
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 0;
  text-align: start;
  margin-right: 15px;
  cursor: pointer;
}
.activeUserLink:hover {
  border: 2px solid var(--clr-accent);
}
.activeUserLink:active {
  transform: scale(95%);
  transition: transform 0.2s;
}

.q-box {
  transition: transform .3s ease-in-out !important;
}

.q-box:hover {
  transform: scale(1.03) !important;
}

.login-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-form {
  width: 300px;
  border: 1px solid var(--clr-break);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username-label, .email-label, .phone-label, .first-name-label, .last-name-label {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: .8;
  color: var(--clr-text);
}

.email-label {
  margin-left: 38px;
}

.phone-label {
  margin-left: 30px;
}

.first-name-input, .last-name-input {
  margin-top: 5px;
  margin-right: 5px;
}

.last-name-label {
  margin-left: 1px;
}

.username-input-box, .email-input-box, .edit-input-box {
  border: 1px solid var(--clr-break);
  border-radius: 6px;
  padding: 4px;
  padding-top: 5px;
  font-family: "Avant Garde", sans-serif;
  font-size: 1em;
  color: var(--clr-accent);
}
.username-input-box:hover, .email-input-box:hover, .edit-input-box:hover {
  border: 1px solid var(--clr-accent);
}
.username-input-box::placeholder, .email-input-box::placeholder, .edit-input-box::placeholder {
  color: var(--clr-text);
}

.email-input, .password-input, .edit-input {
  margin-top: 5px;
}

.password-input {
  margin-top: 5px;
}

.confirm-password-input {
  margin-top: 5px;
  margin-bottom: 10px;
}

.password-label {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: .8;
  color: var(--clr-text);
}

.confirm-password-label {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: .8;
  color: var(--clr-text);
  margin-left: 15px;
}

.password-input-box {
  border: 1px solid var(--clr-break);
  border-radius: 6px;
  padding: 4px;
  padding-top: 5px;
  font-family: "Avant Garde", sans-serif;
  font-size: 1em;
  color: var(--clr-text);
}
.password-input-box:hover {
  border: 1px solid var(--clr-accent);
}

.error-message {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: "Avant Garde", sans-serif;
  font-size: .8em;
  color: rgb(207, 5, 5);
}

.login-button-container {
  margin-top: 10px;
}

.login-button {
  border: 1px solid var(--clr-accent);
  border-radius: 5px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--clr-accent);
  font-family: "Avant Garde", sans-serif;
  font-size: 1.2em;
  color: var(--clr-light);
  cursor: pointer;
}
.login-button:hover {
  transform: scale(105%);
  transition: transform 0.2s;
}
.login-button:active {
  transform: scale(95%);
  transition: transform 0.2s;
}

.footer {
  margin-top: 5%;
  border-top: 1px solid var(--clr-break);
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footerLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.footerLinkContainer {
  font-size: 1em;
  font-weight: 900;
  line-height: .8;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.footerLinkContainer:active {
  transform: scale(90%);
  transition: transform 0.2s;
}

.footerLink {
  cursor: pointer;
  font-family: "Tahoma", sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  line-height: .8;
  color: var(--clr-accent);
}
.footerLink:hover {
  color: #535bf2;
}

.contributors {
  display: flex;
  justify-content: center;
}

.footerText {
  font-family: "Avant Garde", sans-serif;
  font-size: .95em;
  font-weight: 400;
  line-height: .8;
  color: var(--clr-text);
  margin: 5px;
}

.profileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileInfoContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid var(--clr-break);
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}

.profileInfo {
  margin: 5px 5px 5px 5px;
  color: var(--clr-dark);
}

.userImgContainer {
  position: absolute;
  top: 15px;
  right: 20px;
  border: 1px solid var(--clr-text);
  background-color: var(--clr-break);
  border-radius: 50%;
  padding: 5px;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
}

.userImg {
  font-size: 3rem;
  text-align: center;
  margin: 0px;
}

.profileInfoBox {
  margin: 10px;
}

.editButton {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  line-height: .8;
  color: var(--clr-light);
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-accent);
  border-radius: 5px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 72px;
  height: 25px;
  margin: 15px;
  text-align: start;
  margin-right: 15px;
  cursor: pointer;
}
.editButton:active {
  transform: scale(95%);
  transition: transform 0.2s;
}

.userQuestionsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: 1px solid var(--clr-break);
  border-radius: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
}

.recentActivityText {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  line-height: .8;
  color: var(--clr-dark);
}

.qBoxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}